<a href="https://colab.research.google.com/github/arjundussa65/Thesis-2020/blob/master/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data preprocessing

In [ ]:
#Mount google drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:

## load libraries
import pandas as pd ##data manipulation
import os           ## enables python interpreter to read os files and folders
import nltk         ## nlp library, stemming, stopwords etc
import string       ## enables to work on specifically on string
import re           ## regular expression library
from nltk.stem import WordNetLemmatizer
from collections import Counter
from nltk.corpus import stopwords
nltk.download('punkt')
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
#Load the datafile
df=pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/tweets.csv",encoding="utf-8")

In [ ]:
df.head()

             User  ... location
0  KendallHarmon6  ...      NaN
1    Switzercomau  ...      NaN
2         TushK11  ...      NaN
3     StockDaddy0  ...      NaN
4         murtdoc  ...      NaN

[5 rows x 8 columns]

In [ ]:
  #Contraction mapping

    CONTRACTION_MAP = {"ain't": "is not", "aren't": "are not","can't": "cannot",
                       "can't've": "cannot have", "'cause": "because", "could've": "could have",
                       "couldn't": "could not", "couldn't've": "could not have","didn't": "did not",
                       "doesn't": "does not", "don't": "do not", "hadn't": "had not",
                       "hadn't've": "had not have", "hasn't": "has not", "haven't": "have not",
                       "he'd": "he would", "he'd've": "he would have", "he'll": "he will",
                       "he'll've": "he he will have", "he's": "he is", "how'd": "how did",
                       "how'd'y": "how do you", "how'll": "how will", "how's": "how is",
                       "I'd": "I would", "I'd've": "I would have", "I'll": "I will",
                       "I'll've": "I will have","I'm": "I am", "I've": "I have",
                       "i'd": "i would", "i'd've": "i would have", "i'll": "i will",
                       "i'll've": "i will have","i'm": "i am", "i've": "i have",
                       "isn't": "is not", "it'd": "it would", "it'd've": "it would have",
                       "it'll": "it will", "it'll've": "it will have","it's": "it is",
                       "let's": "let us", "ma'am": "madam", "mayn't": "may not",
                       "might've": "might have","mightn't": "might not","mightn't've": "might not have",
                       "must've": "must have", "mustn't": "must not", "mustn't've": "must not have",
                       "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock",
                       "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not",
                       "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would",
                       "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have",
                       "she's": "she is", "should've": "should have", "shouldn't": "should not",
                       "shouldn't've": "should not have", "so've": "so have","so's": "so as",
                       "this's": "this is",
                       "that'd": "that would", "that'd've": "that would have","that's": "that is",
                       "there'd": "there would", "there'd've": "there would have","there's": "there is",
                       "they'd": "they would", "they'd've": "they would have", "they'll": "they will",
                       "they'll've": "they will have", "they're": "they are", "they've": "they have",
                       "to've": "to have", "wasn't": "was not", "we'd": "we would",
                       "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have",
                       "we're": "we are", "we've": "we have", "weren't": "were not",
                       "what'll": "what will", "what'll've": "what will have", "what're": "what are",
                       "what's": "what is", "what've": "what have", "when's": "when is",
                       "when've": "when have", "where'd": "where did", "where's": "where is",
                       "where've": "where have", "who'll": "who will", "who'll've": "who will have",
                       "who's": "who is", "who've": "who have", "why's": "why is",
                       "why've": "why have", "will've": "will have", "won't": "will not",
                       "won't've": "will not have", "would've": "would have", "wouldn't": "would not",
                       "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would",
                       "y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have",
                       "you'd": "you would", "you'd've": "you would have", "you'll": "you will",
                       "you'll've": "you will have", "you're": "you are", "you've": "you have" }


    def expand_contractions(sentence, contraction_mapping):
        """
        description :- custom function to replace contractions in sentence
        input  :- a sentence
        output :- a sentence returns with replace contractions
        """
        contractions_pattern = re.compile('({})'.format('|'.join(contraction_mapping.keys())),
                                          flags=re.IGNORECASE | re.DOTALL)

        def expand_match(contraction):
            match = contraction.group(0)
            first_char = match[0]
            expanded_contraction = contraction_mapping.get(match) if contraction_mapping.get(
                match) else contraction_mapping.get(match.lower())
            expanded_contraction = first_char + expanded_contraction[1:]
            return expanded_contraction

        expanded_sentence = contractions_pattern.sub(expand_match, sentence)
        return expanded_sentence
    df['Text'] = df['Text'].apply(lambda x: " ".join(expand_contractions(txt, CONTRACTION_MAP) for txt in nltk.sent_tokenize(x)))

In [ ]:
## strip of spaces in the beginning and ending
df['Text'] = df['Text'].str.strip()
#df.tail()

In [ ]:
df.shape

(22056, 8)

In [ ]:
df.Text[8]

'(Axios) Scoop: Lab for #coronavirus test kits may have been contaminated https://www.axios.com/cdc-lab-coronavirus-contaminated-6dc9726d-dea3-423f-b5ad-eb7b1e44c2e2.html #economy #covid19 #globalisation #health #publichealth #china #travel #virology #publicsafety #epidemiology #viruses #21stc #corporations #workers #labs'

In [ ]:
#Function to remove urls

def remove_urls(text):
    """
    description :- custom function to remove URL's
    input  :- a sentence
    output :- a sentence whose URL links is removed
    """
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)
df['Text'] = df['Text'].apply(lambda x: remove_urls(x))

In [ ]:
#Function to remove https, account handles and hashtags

tok = WordPunctTokenizer()
pat1 = r'@[A-Za-z0-9]+'
pat2 = r'https?://[A-Za-z0-9./]+'
pat3 = r'#[A-Za-z0-9]+'
combined_pat = r'|'.join((pat1, pat2,pat3))
def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    stripped = re.sub(combined_pat, '', souped)
    try:
        clean = stripped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        clean = stripped
    letters_only = re.sub("[^a-zA-Z]", " ", clean)
    lower_case = letters_only.lower()
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = tok.tokenize(lower_case)
    return (" ".join(words)).strip()
testing = df.Text[:22056]
test_result = []
for t in testing:
    test_result.append(tweet_cleaner(t))

In [ ]:
df['Text'] = pd.DataFrame(test_result,columns=['Text'])
df.head()

             User  ... location
0  KendallHarmon6  ...      NaN
1    Switzercomau  ...      NaN
2         TushK11  ...      NaN
3     StockDaddy0  ...      NaN
4         murtdoc  ...      NaN

[5 rows x 8 columns]

In [ ]:
df.tail()

                  User  ... location
22051      LadMichaelO  ...      NaN
22052          BusTrav  ...      NaN
22053        Rashikede  ...      NaN
22054  astuteinvesting  ...      NaN
22055        TimGamble  ...      NaN

[5 rows x 8 columns]

In [ ]:
#Drop duplicates
df.drop_duplicates(subset=['User','Text','Date','Favorites','Retweets'],keep='first',inplace=True)

In [ ]:
df.shape

(19818, 8)

In [ ]:
### Removal of utf special characters
utf_special_characs = ['xe2x80x81',
'xe2x80x82',
'xe2x80x83',
'xe2x80x84',
'xe2x80x85',
'xe2x80x86',
'xe2x80x87',
'xe2x80x88',
'xe2x80x89',
'xe2x80x8a',
'xe2x80x8b',
'xe2x80x8c',
'xe2x80x8d',
'xe2x80x8e',
'xe2x80x8f',
'xe2x80x90',
'xe2x80x91',
'xe2x80x92',
'xe2x80x93',
'xe2x80x94',
'xe2x80x95',
'xe2x80x96',
'xe2x80x97',
'xe2x80x98',
'xe2x80x99',
'xe2x80x9a',
'xe2x80x9b',
'xe2x80x9c',
'xe2x80x9d',
'xe2x80x9e',
'xe2x80x9f',
'xe2x80xa0',
'xe2x80xa1',
'xe2x80xa2',
'xe2x80xa3',
'xe2x80xa4',
'xe2x80xa5',
'xe2x80xa6',
'xe2x80xa7',
'xe2x80xa8',
'xe2x80xa9',
'xe2x80xaa',
'xe2x80xab',
'xe2x80xac',
'xe2x80xad',
'xe2x80xae',
'xe2x80xaf',
'xe2x80xb0',
'xe2x80xb1',
'xe2x80xb2',
'xe2x80xb3',
'xe2x80xb4',
'xe2x80xb5',
'xe2x80xb6',
'xe2x80xb7',
'xe2x80xb8',
'xe2x80xb9',
'xe2x80xba',
'xe2x80xbb',
'xe2x80xbc',
'xe2x80xbd',
'xe2x80xbe',
'xe2x80xbf',
'xe2x81x80',
'xe2x81x81',
'xe2x81x82',
'xe2x81x83',
'xe2x81x84',
'xe2x81x85',
'xe2x81x86',
'xe2x81x87',
'xe2x81x88',
'xe2x81x89',
'xe2x81x8a',
'xe2x81x8b',
'xe2x81x8c',
'xe2x81x8d',
'xe2x81x8e',
'xe2x81x8f',
'xe2x81x90',
'xe2x81x91',
'xe2x81x92',
'xe2x81x93',
'xe2x81x94',
'xe2x81x95',
'xe2x81x96',
'xe2x81x97',
'xe2x81x98',
'xe2x81x99',
'xe2x81x9a',
'xe2x81x9b',
'xe2x81x9c',
'xe2x81x9d',
'xe2x81x9e',
'xe2x81x9f',
'xe2x81xa0',
'xe2x81xa1',
'xe2x81xa2',
'xe2x81xa3',
'xe2x81xa4',
'xe2x81xa5',
'xe2x81xa6',
'xe2x81xa7',
'xe2x81xa8',
'xe2x81xa9',
'xe2x81xaa',
'xe2x81xab',
'xe2x81xac',
'xe2x81xad',
'xe2x81xae',
'xe2x81xaf',
'xe2x81xb0',
'xe2x81xb1',
'xe2x81xb2',
'xe2x81xb3',
'xe2x81xb4',
'xe2x81xb5',
'xe2x81xb6',
'xe2x81xb7',
'xe2x81xb8',
'xe2x81xb9',
'xe2x81xba',
'xe2x81xbb',
'xe2x81xbc',
'xe2x81xbd',
'xe2x81xbe',
'xe2x81xbf']

def remove_special_chars(x):
    """
    description :- custom function to remove utf special chars
    input  :- a sentence
    output :- a sentence returns after removal of  utf special chars
    """
    vals = []
    for val in x.split(" "):
        for utf_val in utf_special_characs:
            val = re.sub(utf_val,"",val)
            if re.search("x..x..*", val) == None:
                vals.append(val)
                break
            continue
    return " ".join(val for val in vals)
df['Text'] = df['Text'].apply(lambda x: remove_special_chars(x))

def only_chars(x):
    """ keep only characters """
    return re.sub('[^a-zA-Z]+', ' ', x)
only_chars("abc 123 abc")
df['Text'] = df['Text'].apply(lambda x: only_chars(x))

In [ ]:
df.tail()

                  User  ... location
22047    grumpysteward  ...      NaN
22048      stock_fairy  ...      NaN
22050          BusTrav  ...      NaN
22052          BusTrav  ...      NaN
22054  astuteinvesting  ...      NaN

[5 rows x 8 columns]

In [ ]:
#Remove null values in the text field and reset index
df.dropna(subset=['Text'],inplace=True)  # Removed the Null values from Tweet_text column
df.reset_index(drop=True,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19818 entries, 0 to 19817
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User       19818 non-null  object
 1   Text       19818 non-null  object
 2   Date       19818 non-null  object
 3   Favorites  19818 non-null  int64
 4   Retweets   19818 non-null  int64
 5   Mentions   4320 non-null   object
 6   HashTags   19806 non-null  object
 7   location   0 non-null      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.2+ MB

In [ ]:
#Saving cleaned tweets to a file
df.to_csv("/content/gdrive/My Drive/Colab Notebooks/covid_cleaned.csv", index=None, encoding='utf-8')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19818 entries, 0 to 19817
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   User       19818 non-null  object
 1   Text       19818 non-null  object
 2   Date       19818 non-null  object
 3   Favorites  19818 non-null  int64
 4   Retweets   19818 non-null  int64
 5   Mentions   4320 non-null   object
 6   HashTags   19806 non-null  object
 7   location   0 non-null      float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.2+ MB